@*
//------------------------------------------------------------------------------
//  此代码版权声明为全文件覆盖，如有原作者特别声明，会在下方手动补充
//  此代码版权（除特别声明外的代码）归作者本人Diego所有
//  源代码使用协议遵循本仓库的开源协议及附加协议
//  Gitee源代码仓库：https://gitee.com/dotnetchina/ThingsGateway
//  Github源代码仓库：https://github.com/kimdiego2098/ThingsGateway
//  使用文档：https://diego2098.gitee.io/thingsgateway/
//  QQ群：605534569
//------------------------------------------------------------------------------
*@

@namespace ThingsGateway.Web.Rcl.Core
@using ThingsGateway.Core;
@inherits CultureComponentBase
<div class="d-flex justify-end">
    <MAutocomplete @bind-Value="Value"
                   Items="AvalidMenus"
                   Class="mx-1 text-subtitle-2 rounded-0"
                   Style="max-width: 350px;"
                          Flat Dense Placeholder=@T("搜索")
                   ItemValue="r=>r.Component"
                   ItemText="r=>r.Title"
                   HideDetails="true"
                   PrependInnerIcon="mdi-magnify">
    </MAutocomplete>
</div>

@code {
    private string _value;
    private string Value
    {
        get => _value;
        set
        {
            _value = value;
            if (!string.IsNullOrEmpty(value))
            {
                NavigationManager.NavigateTo(value);
            }
        }
    }

    [Inject]
    [NotNull]
    private NavigationManager NavigationManager { get; set; }

    private List<SysResource> AvalidMenus;
    [Inject]
    private UserResoures UserResoures { get; set; }

    protected override void OnInitialized()
    {
        AvalidMenus = UserResoures.SameLevelMenus.Where(it => it.Component != null).ToList();
        base.OnInitialized();
    }

}
