@namespace ThingsGateway.Admin.Razor
@using ThingsGateway.Admin.Application

<div class="col-12">
    <AvatarUpload @bind-Value="@Picture" IsSingle Accept="image/*" OnChange="OnAvatarUpload" DefaultFileList=PreviewFileList></AvatarUpload>
</div>



