@namespace ThingsGateway.Admin.Razor
@using ThingsGateway.Admin.Application

<div class="listtree-view">
    <h6 class="mb-1">@AdminLocalizer["RoleList"]</h6>

    <TreeView 
              TItem="RoleTreeOutput" Items="Items" ShowIcon="true" ShowSearch IsAccordion=false IsVirtualize="true" OnTreeItemClick="OnTreeItemClick" ModelEqualityComparer="RoleTree.ModelEqualityComparer" IsFixedSearch OnSearchAsync="OnClickSearch">


    </TreeView>

</div>

