@inherits BootstrapComponentBase
@namespace ThingsGateway.Razor
<div class="flex-xl-fill flex-xl-grow-0 justify-content-xl-end px-2"> 
    <Select Value="@SelectedCulture" OnSelectedItemChanged="@SetCulture" IsPopover>
        <Options>
            @foreach (var kv in BootstrapOptions.CurrentValue.GetSupportedCultures())
            {
                <SelectOption Text="@GetDisplayName(kv)" Value="@kv.Name" />
            }
        </Options>
    </Select>
</div>
