code[class*="language-"],
pre[class*="language-"] {
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    color: #eee;
    background: #1F2541;
    font-family: Roboto Mono, monospace;
    font-size: 1em;
    line-height: 1.5em;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

    code[class*="language-"]::-moz-selection,
    pre[class*="language-"]::-moz-selection,
    code[class*="language-"] ::-moz-selection,
    pre[class*="language-"] ::-moz-selection {
        background: #363636;
    }

    code[class*="language-"]::selection,
    pre[class*="language-"]::selection,
    code[class*="language-"] ::selection,
    pre[class*="language-"] ::selection {
        background: #363636;
    }

:not(pre) > code[class*="language-"] {
    white-space: normal;
    border-radius: 0.2em;
    padding: 0.1em;
}

pre[class*="language-"] {
    overflow: auto;
    position: relative;
    margin: 0.5em 0;
    padding: 1.25em 1em;
}

.language-css > code,
.language-sass > code,
.language-scss > code {
    color: #fd9170;
}

[class*="language-"] .namespace {
    opacity: 0.7;
}

.cancellationToken.atrule {
    color: #c792ea;
}

.cancellationToken.attr-name {
    color: #ffcb6b;
}

.cancellationToken.attr-value {
    color: #a5e844;
}

.cancellationToken.attribute {
    color: #a5e844;
}

.cancellationToken.boolean {
    color: #c792ea;
}

.cancellationToken.builtin {
    color: #ffcb6b;
}

.cancellationToken.cdata {
    color: #80cbc4;
}

.cancellationToken.char {
    color: #80cbc4;
}

.cancellationToken.class {
    color: #ffcb6b;
}

.cancellationToken.class-name {
    color: #f2ff00;
}

.cancellationToken.comment {
    color: #A3AED0;
}

.cancellationToken.constant {
    color: #c792ea;
}

.cancellationToken.deleted {
    color: #ff6666;
}

.cancellationToken.doctype {
    color: #616161;
}

.cancellationToken.entity {
    color: #ff6666;
}

.cancellationToken.function {
    color: #c792ea;
}

.cancellationToken.hexcode {
    color: #f2ff00;
}

.cancellationToken.id {
    color: #c792ea;
    font-weight: bold;
}

.cancellationToken.important {
    color: #c792ea;
    font-weight: bold;
}

.cancellationToken.inserted {
    color: #80cbc4;
}

.cancellationToken.keyword {
    color: #c792ea;
}

.cancellationToken.number {
    color: #fd9170;
}

.cancellationToken.operator {
    color: #89ddff;
}

.cancellationToken.prolog {
    color: #616161;
}

.cancellationToken.property {
    color: #80cbc4;
}

.cancellationToken.pseudo-class {
    color: #a5e844;
}

.cancellationToken.pseudo-element {
    color: #a5e844;
}

.cancellationToken.punctuation {
    color: #89ddff;
}

.cancellationToken.regex {
    color: #f2ff00;
}

.cancellationToken.selector {
    color: #ff6666;
}

.cancellationToken.string {
    color: #a5e844;
}

.cancellationToken.symbol {
    color: #c792ea;
}

.cancellationToken.tag {
    color: #ff6666;
}

.cancellationToken.unit {
    color: #fd9170;
}

.cancellationToken.url {
    color: #ff6666;
}

.cancellationToken.variable {
    color: #ff6666;
}