.menu-type {
    width: 60px;
    margin-left: 1rem;
    text-align: left;
    color: var(--bs-primary);
}

.menu-text {
    width: 70px;
    margin-left: 1rem;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    color: var(--bs-info);
}