@namespace ThingsGateway.Admin.Razor
@using ThingsGateway.Admin.Application
@inherits ComponentDefault

<SelectItemChooser Items="SelectedItems" @bind-Value=Value >
    <ItemTemplate>
        <div>
            <i class=@ModuleList.FirstOrDefault(a=>a.Id==context)?.Icon></i>
            <span>@ModuleList.FirstOrDefault(a => a.Id == context)?.Title</span>
        </div>
    </ItemTemplate>

</SelectItemChooser>

<div class="form-footer">
    <Button Text="@DefaultLocalizer["Save"]" OnClick="Save" />
</div>



