@namespace ThingsGateway.Admin.Razor
@using ThingsGateway.Admin.Application

@typeparam T where T : class, new()
<div class="editpage">

    <ValidateForm class="m-2" Model="@Model" OnValidSubmit="OnSave">

        <EditorForm RowType=RowType.Inline ItemsPerRow=ItemsPerRow ShowLabelTooltip=true LabelWidth=200 TModel="T">
            <Buttons>
                <Button ButtonType="ButtonType.Submit" Icon="fa-solid fa-floppy-disk" IsAsync Text=@DefaultLocalizer["Save"] />
            </Buttons>
        </EditorForm>
    </ValidateForm>
</div>
