@page "/Dlt645_2007Master"
@using BootstrapBlazor.Components
@using ThingsGateway.Extension
@using ThingsGateway.Foundation
@using ThingsGateway.Foundation.Dlt645
@namespace ThingsGateway.Debug
@using TouchSocket.Core


<div class="w-100 h-100">
    <ChannelComponent OnConfimClick="OnConfimClick" />

    @if (_plc != null)
    {
        <Card class="mt-2">
            <BodyTemplate>

                <EditorForm Model="_plc" AutoGenerateAllItem=false RowType="RowType.Inline" ItemsPerRow="4" ShowLabelTooltip="true" ShowLabel="true">
                    <FieldItems>

                        <EditorItem @bind-Field=context.FEHead />
                        <EditorItem @bind-Field=context.OperCode />
                        <EditorItem @bind-Field=context.Password />
                        <EditorItem @bind-Field=context.Station />
                        <EditorItem @bind-Field=context.DtuId />
                        <EditorItem @bind-Field=context.CheckClearTime />
                        <EditorItem @bind-Field=context.Heartbeat />
                        <EditorItem @bind-Field=context.SendDelayTime />
                        <EditorItem @bind-Field=context.Timeout />

                    </FieldItems>

                </EditorForm>
            </BodyTemplate>
        </Card>

    }

    <DeviceComponent  DefaultAddress="02010100" OnShowAddressUI=OnShowAddressUI Plc=_plc LogPath=@LogPath @ref=DeviceComponent></DeviceComponent>
</div>


