@page "/404"
@layout BaseLayout
@namespace ThingsGateway.AdminServer
@using BootstrapBlazor.Components
@using ThingsGateway.Admin.Application;
@using ThingsGateway.Extension;
@using ThingsGateway.Razor
<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <div>
        <img alt="404" src="@($"{WebsiteConst.DefaultResourceUrl}images/404.png")" class="mw-100" />
    </div>
    <h5>@Localizer["404"]</h5>
    <Button class="mt-2" Color="Color.Primary" OnClick=@(()=>NavigationManager.NavigateTo("/"))>@Localizer["Home"]</Button>
</div>

