
<div class="blazor-diagram-node @(Node.Group != null ? "grouped" : "") @(Node.Selected ? "selected" : "")">
    @(Node.Title ?? "Title")
    @foreach (var port in Node.Ports)
    {
        <PortRenderer @key="port" Port="port" Class="blazor-diagram"></PortRenderer>
    }
</div>

@code {

    [Parameter]
    public NodeModel Node { get; set; } = null!;

}
