@namespace ThingsGateway.Admin.Razor
<label class="form-label">@DisplayText</label>
<BootstrapInputGroup>
    <Select Value="SelectedArrayValue" ShowLabel="false" Items=Items IsDisabled></Select>
    @* <MultiSelect IsSingleLine Value="SelectedArrayValues" ShowLabel="false" Items=Items IsDisabled></MultiSelect> *@
    <Button Icon="fa-solid fa-xmark" Color="Color.Secondary" OnClick="OnClearText"></Button>
    <Button Icon="fa-solid fa-bars" OnClick="OnSelect"></Button>
</BootstrapInputGroup>
