/*自定义样式*/
.table-text-truncate {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: 200px;
    min-width: 130px;
}

.table-minwidth {
    min-width: 130px;
}

/*masa样式覆盖修改*/
.m-application--is-ltr .m-data-table__mobile-row__cell {
    text-align: right;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: 200px;
}

.m-application--is-ltr .m-list-group--no-action > .m-list-group__items > .m-list-item {
    padding-left: 36px;
}

.m-application--is-ltr .m-list--dense.m-list--nav .m-list-group--no-action > .m-list-group__items > .m-list-item {
    padding-left: 36px;
}

.m-application--is-ltr .m-list-item__action:first-child, .m-application--is-ltr .m-list-item__icon:first-child {
    margin-right: 8px;
}

.m-tabs-bar {
    height: auto;
}

.m-breadcrumbs li:nth-child(even) {
    padding: 0 6px;
}


.m-page-tabs > .m-tabs-bar {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    height: 36px;
    padding: 0 16px;
}

/*下面都是html默认样式修改*/
html {
    overflow-y: hidden
}

/*滚动条样式*/
::-webkit-scrollbar-track {
    border-radius: 10px;
    margin: 12px 0 0 0;
    background-color: #F6F8FD;
}

::-webkit-scrollbar {
    width: 4px;
    height: 6px;
    margin: 5px 0;
}

::-webkit-scrollbar-thumb {
    margin: 5px 0;
    border-radius: 4px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, #A3AED0), color-stop(0.72, #A3AED0), color-stop(0.86, #A3AED0));
}