@page "/Account/AccessDenied"
@layout BaseLayout
@namespace ThingsGateway.Admin.Razor
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.WebUtilities
@using ThingsGateway.Admin.Application;
@using ThingsGateway.Core.Extension;
@using ThingsGateway.Razor
<div class="d-flex flex-column justify-content-center align-items-center" style="height:100vh;">
    <div>
        <img alt="401" src="@($"{WebsiteConst.DefaultResourceUrl}images/401.png")" style="max-width: 100%;" />
    </div>
    <h5>@Localizer["401"]</h5>
    <div>

    <Button class="mx-2" Color="Color.Primary" OnClick=@(()=>
            {
            NavigationManager.NavigateTo(QueryHelpers.AddQueryString(CookieAuthenticationDefaults.LoginPath, new Dictionary<string, string?>
            {
            ["ReturnUrl"] = ReturnUrl
            })
        );
            }
            )>
        @Localizer["Login"]
    </Button>
        <Button class="mx-2" Color="Color.Primary" OnClick=@(()=>NavigationManager.NavigateTo("/"))>@Localizer["Home"]</Button>
    </div>
</div>

