@namespace ThingsGateway.Admin.Razor
<label class="form-label">@DisplayText</label>
<BootstrapInputGroup>
    <Select Value="Value" Items="Items" ShowLabel="false" IsDisabled></Select>
    <Button Icon="fa-solid fa-xmark" Color="Color.Secondary" OnClick="OnClearText"></Button>
    <Button Icon="fa-solid fa-bars" OnClick="OnSelect"></Button>
</BootstrapInputGroup>

