
.listtree-view {
    height: calc(100% - 10px);
}

    .listtree-view ::deep .bb-cm-zone {
        height: calc(100% - 10px);
        margin-bottom: 2px;
    }

    .listtree-view ::deep .tree-view {
        --bb-tree-search-height: 32px;
        min-height: 300px;
        height: calc(100% - 10px);
    }

.deviceEnable--text {
    color: var(--bs-body-color);
}
