@namespace ThingsGateway.Admin.Razor
@using ThingsGateway.Admin.Application
<div class="row g-2 mx-1 form-inline">


    <div class="col-12  col-md-12">
        <SelectTree TValue="long" Items="Items" @bind-Value=Model.OrgId  ShowLabel="true"  ShowRequired="true"/>
    </div>

    <div class="col-12  col-md-12">
        <BootstrapInput @bind-Value="Model.Name"></BootstrapInput>
    </div>
    <div class="col-12  col-md-12">
        <BootstrapInput @bind-Value="Model.Code"></BootstrapInput>
    </div>

    <div class="col-12  col-md-12">
        <RadioList IsButton="true" @bind-Value="Model.Category"></RadioList>
    </div>

    <div class="col-12  col-md-12">
        <RadioList IsButton="true" @bind-Value="Model.Status" Items="BoolItems"></RadioList>
    </div>
    <div class="col-12 col-sm-10">
        <Slider @bind-Value="@Model.SortCode" Step="1" UseInputEvent="true" Max="999" Min="-999"></Slider>
    </div>
    <div class="col-12 col-sm-2">
        <BootstrapInput @bind-Value="Model.SortCode" ShowLabel="false"></BootstrapInput>
    </div>
</div>





