h6 {
    font-size: 1rem;
    font-weight: bold;
}
.channel ::deep .bb-editor .row {
    --bs-gutter-y: 0.5rem;
    --bs-gutter-x: 0.5rem;
}

.text-h6 {
    /* Headline 6 */
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 1rem !important;
    line-height: 1.875rem !important;
    /* identical to box height */
    letter-spacing: 0.01em !important;
}

.text-caption {
    /* Caption-说明 */
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 0.75rem !important;
    line-height: 1.125rem !important;
}

