@namespace ThingsGateway.Debug
@using BootstrapBlazor.Components
@using Microsoft.AspNetCore.Components.Web;
@using System.Reflection;

@using ThingsGateway.Foundation.OpcDa;
@using ThingsGateway.Foundation.OpcDa.Rcw;

<div class="row ">


<div style="col-12 col-md-6 p-1 min-height:500px;">
    <TreeView TItem="OpcDaTagModel" Items="Items" ShowIcon="true"
                  OnExpandNodeAsync=OnExpandNodeAsync OnTreeItemClick=@(a=>{ClickItem=a;return Task.CompletedTask;  })
              IsAccordion ClickToggleNode ModelEqualityComparer="ModelEqualityComparer" />
</div>
    <div class="col-12 col-md-6 p-1">

        @if(ClickItem?.Value?.Tag?.Properties !=null)
        {
            foreach (var item in ClickItem.Value.Tag.Properties )
            {
                <Display class=@($"{(item.ResultID.Failed()?"red--text":"green--text")}") @bind-Value=@item.Value  DisplayText=@item.Description ShowLabel="true"/>
            }
        }
    </div>
</div>
@code {
    RenderFragment<OpcDaTagModel> RenderTreeItem => item =>
    @<span class="flex-fill">@item.Name</span>
        ;

    private TreeViewItem<OpcDaTagModel> ClickItem;
}
