@*
//------------------------------------------------------------------------------
//  此代码版权声明为全文件覆盖，如有原作者特别声明，会在下方手动补充
//  此代码版权（除特别声明外的代码）归作者本人Diego所有
//  源代码使用协议遵循本仓库的开源协议及附加协议
//  Gitee源代码仓库：https://gitee.com/diego2098/ThingsGateway
//  Github源代码仓库：https://github.com/kimdiego2098/ThingsGateway
//  使用文档：https://diego2098.gitee.io/thingsgateway/
//  QQ群：605534569
//------------------------------------------------------------------------------
*@

@page "/tgruntime/devicevariable"
@namespace ThingsGateway.Web.Page
@using System.Linq.Expressions;
@using BlazorComponent;
@using Furion.DataValidation;
@using Furion;
@using Mapster;
@using Masa.Blazor.Presets;
@using System.IO;
@using TouchSocket.Core;
@attribute [Authorize]
@inject MasaBlazor MasaBlazor
@attribute [RolePermission]
@inherits CultureComponentBase
@inject UserResoures UserResoures
@layout MainLayout

<MRow>
    <MCol Md=2 Cols="12">
        <MCard Class="ma-2" Style="height: calc(100vh - 200px)">
            <MCardTitle>
                <MTextField Dense Style="max-width:200px;" HideDetails=@("auto") Class="mx-2 my-1" @bind-Value="_searchName"
                            Outlined Label=@typeof(CollectDevice).GetDescription(nameof(CollectDevice.DeviceGroup)) />
            </MCardTitle>
            <MTreeview Style="height: calc(100vh - 320px);overflow-y:auto" Dense TItem="DeviceTree" TKey="string" Active="_searchModel.DeviceName?.StringToList()" OpenOnClick ActiveChanged=@((async a=>
                       {
                       if(this._searchModel.DeviceName!= a.FirstOrDefault())
                       {
                       this._searchModel.DeviceName= a.FirstOrDefault();
                       await datatableQuery();
                       }
                       }) )
                       Items="_deviceGroups" ItemText="r=>r.Name" ItemChildren="r=>r.Childrens"
                       Search="@_searchName"
                       Activatable ItemKey=@(r=>r.Name)>
            </MTreeview>
        </MCard>
    </MCol>
    <MCol Md=10 Cols="12">
        <div style="height: calc(100vh - 200px)">

            <AppDataTable @ref="_datatable" TItem="DeviceVariableRunTime" SearchItem="VariablePageInput"
                          AddItem="object" EditItem="object"
                          SearchModel="_searchModel"
                          QueryCall="QueryCall"
                          FilterHeaders="FilterHeaders" Filters="Filters" ShowDetailButton IsShowOperCol=true
                                ShowQueryButton>
                <SearchTemplate>
                    <MTextField Dense Style="max-width:200px;" HideDetails=@("auto") Class="my-1  mx-2 " @bind-Value="context.Name" Clearable
                                        Outlined Label=@context.Description(x => x.Name) />
                    <MTextField Dense Style="max-width:200px;" HideDetails=@("auto") Class="my-1  mx-2 " @bind-Value="context.VariableAddress" Clearable
                                        Outlined Label=@context.Description(x => x.VariableAddress) />
                    <MTextField Dense Style="max-width:200px;" HideDetails=@("auto") Class="my-1  mx-2 " @bind-Value="context.DeviceName" Clearable
                                        Outlined Label=@context.Description(x => x.DeviceName) />
                    <MTextField Dense Style="max-width:200px;" HideDetails=@("auto") Class="my-1  mx-2 " @bind-Value="context.UploadDeviceName" Clearable
                                        Outlined Label=@context.Description(x => x.UploadDeviceName) />
                </SearchTemplate>

                <ItemColOperTemplate>
                    <MButton Text Disabled=@(!UserResoures.IsHasButtonWithRole("tgcollectdeviceedit")) Class="my-1  mx-2" OnClick=@(() => Write(context.Item))>
                        @T("写入")
                    </MButton>
                </ItemColOperTemplate>
                <ItemColTemplate>
                    @switch (context.Header.Value)
                    {

                        case nameof(context.Item.IsOnline):
                            <EnableChip Value="context.Item.IsOnline" DisabledLabel="离线" EnabledLabel="在线">
                            </EnableChip>
                            break;
                        default:
                            @context.Value
                            break;

                    }

                </ItemColTemplate>

            </AppDataTable>

        </div>
    </MCol>
</MRow>


