[*.cs]

# IDE0290: 使用主构造函数
dotnet_diagnostic.IDE0290.severity = none

# IDE0028: 简化集合初始化
dotnet_diagnostic.IDE0028.severity = none

# CA1822: 将成员标记为 static
dotnet_diagnostic.CA1822.severity = none

# IDE0052: 删除未读的私有成员
dotnet_diagnostic.IDE0052.severity = none

# CA2254: 模板应为静态表达式
dotnet_diagnostic.CA2254.severity = none

# CA1854: 首选 “IDictionary.TryGetValue(TKey, out TValue)” 方法
dotnet_diagnostic.CA1854.severity = none

# IDE0090: 使用 "new(...)"
dotnet_diagnostic.IDE0090.severity = none

# IDE0305: 简化集合初始化
dotnet_diagnostic.IDE0305.severity = none
