@page "/401"
@layout BaseLayout
@inherits BaseComponentBase
@namespace ThingsGateway.Admin.Blazor
<div style="height:100%" class="d-flex flex-column justify-center align-center">
    <div class="bg">
        <img alt="401" src=@(BlazorAppService.DefaultResourceUrl + @"images/401.png") />
    </div>
    <h5>@AppService.I18n.T("抱歉，你没有权限访问此页面。")</h5>
    <MButton Class="mt-2" Color="primary" Href="/">@AppService.I18n.T("回到首页")</MButton>
</div>
